In [54]:
#Code by Son Nguyen

In [1]:

import pandas as pd
import time

In [2]:
drought = pd.read_csv(r'https://raw.githubusercontent.com/julioh-k/project-5-repo/main/data/drought_state.csv?token=AWEBQHOHD5C3AAAYFXXRPMLB2YCMQ')

In [3]:
drought

,Name,state,ValidStart,ValidEnd,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,population_d0,population_d1,population_d2,population_d3,population_d4,DSCI,total_area,total_population
0,Alaska,AK,2021-12-07,2021-12-13,582568.29,0.00,0.0,0.0,0.0,0.0,709629.99,0.00,0.0,0.0,0.0,0.0,0,582568.29,709629.99
1,Alaska,AK,2021-11-30,2021-12-06,582568.29,0.00,0.0,0.0,0.0,0.0,709629.99,0.00,0.0,0.0,0.0,0.0,0,582568.29,709629.99
2,Alaska,AK,2021-11-23,2021-11-29,582568.29,0.00,0.0,0.0,0.0,0.0,709629.99,0.00,0.0,0.0,0.0,0.0,0,582568.29,709629.99
3,Alaska,AK,2021-11-16,2021-11-22,582568.29,0.00,0.0,0.0,0.0,0.0,709629.99,0.00,0.0,0.0,0.0,0.0,0,582568.29,709629.99
4,Alaska,AK,2021-11-09,2021-11-15,582568.29,0.00,0.0,0.0,0.0,0.0,709629.99,0.00,0.0,0.0,0.0,0.0,0,582568.29,709629.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56883,Wyoming,WY,2001-01-23,2001-01-29,19865.21,77933.41,0.0,0.0,0.0,0.0,141431.33,422194.67,0.0,0.0,0.0,0.0,80,97798.62,563626.00
56884,Wyoming,WY,2001-01-16,2001-01-22,69093.43,28705.19,0.0,0.0,0.0,0.0,415072.66,148553.34,0.0,0.0,0.0,0.0,29,97798.62,563626.00
56885,Wyoming,WY,2001-01-09,2001-01-15,69093.43,28705.19,0.0,0.0,0.0,0.0,415072.66,148553.34,0.0,0.0,0.0,0.0,29,97798.62,563626.00
56886,Wyoming,WY,2001-01-02,2001-01-08,40340.46,57458.16,0.0,0.0,0.0,0.0,287015.91,276610.09,0.0,0.0,0.0,0.0,59,97798.62,563626.00
56887,Wyoming,WY,2000-12-26,2001-01-01,40340.46,57458.16,0.0,0.0,0.0,0.0,287015.91,276610.09,0.0,0.0,0.0,0.0,59,97798.62,563626.00

In [4]:
drought.drop(columns=['ValidStart'], axis =1, inplace=True)

In [5]:
drought['ValidEnd']=pd.to_datetime(drought['ValidEnd'])

In [6]:
drought

,Name,state,ValidEnd,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,population_d0,population_d1,population_d2,population_d3,population_d4,DSCI,total_area,total_population
0,Alaska,AK,2021-12-13,582568.29,0.00,0.0,0.0,0.0,0.0,709629.99,0.00,0.0,0.0,0.0,0.0,0,582568.29,709629.99
1,Alaska,AK,2021-12-06,582568.29,0.00,0.0,0.0,0.0,0.0,709629.99,0.00,0.0,0.0,0.0,0.0,0,582568.29,709629.99
2,Alaska,AK,2021-11-29,582568.29,0.00,0.0,0.0,0.0,0.0,709629.99,0.00,0.0,0.0,0.0,0.0,0,582568.29,709629.99
3,Alaska,AK,2021-11-22,582568.29,0.00,0.0,0.0,0.0,0.0,709629.99,0.00,0.0,0.0,0.0,0.0,0,582568.29,709629.99
4,Alaska,AK,2021-11-15,582568.29,0.00,0.0,0.0,0.0,0.0,709629.99,0.00,0.0,0.0,0.0,0.0,0,582568.29,709629.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56883,Wyoming,WY,2001-01-29,19865.21,77933.41,0.0,0.0,0.0,0.0,141431.33,422194.67,0.0,0.0,0.0,0.0,80,97798.62,563626.00
56884,Wyoming,WY,2001-01-22,69093.43,28705.19,0.0,0.0,0.0,0.0,415072.66,148553.34,0.0,0.0,0.0,0.0,29,97798.62,563626.00
56885,Wyoming,WY,2001-01-15,69093.43,28705.19,0.0,0.0,0.0,0.0,415072.66,148553.34,0.0,0.0,0.0,0.0,29,97798.62,563626.00
56886,Wyoming,WY,2001-01-08,40340.46,57458.16,0.0,0.0,0.0,0.0,287015.91,276610.09,0.0,0.0,0.0,0.0,59,97798.62,563626.00
56887,Wyoming,WY,2001-01-01,40340.46,57458.16,0.0,0.0,0.0,0.0,287015.91,276610.09,0.0,0.0,0.0,0.0,59,97798.62,563626.00

In [7]:
drought = drought[drought['ValidEnd']>'2000-12-31']

In [8]:
drought = drought[drought['ValidEnd']<'2021-01-05']

In [9]:
drought.set_index('ValidEnd', inplace=True)

In [10]:
drought

,Name,state,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,population_d0,population_d1,population_d2,population_d3,population_d4,DSCI,total_area,total_population
ValidEnd,,,,,,,,,,,,,,,,,
2021-01-04,Alaska,AK,532707.03,49861.26,0.0,0.0,0.0,0.0,690049.92,19580.07,0.0,0.0,0.0,0.0,9,582568.29,709629.99
2020-12-28,Alaska,AK,532707.03,49861.26,0.0,0.0,0.0,0.0,690049.92,19580.07,0.0,0.0,0.0,0.0,9,582568.29,709629.99
2020-12-21,Alaska,AK,517815.00,64753.29,0.0,0.0,0.0,0.0,689487.16,20142.84,0.0,0.0,0.0,0.0,11,582568.29,709630.00
2020-12-14,Alaska,AK,517815.00,64753.29,0.0,0.0,0.0,0.0,689487.16,20142.84,0.0,0.0,0.0,0.0,11,582568.29,709630.00
2020-12-07,Alaska,AK,517831.12,64737.17,0.0,0.0,0.0,0.0,460520.82,249109.17,0.0,0.0,0.0,0.0,11,582568.29,709629.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001-01-29,Wyoming,WY,19865.21,77933.41,0.0,0.0,0.0,0.0,141431.33,422194.67,0.0,0.0,0.0,0.0,80,97798.62,563626.00
2001-01-22,Wyoming,WY,69093.43,28705.19,0.0,0.0,0.0,0.0,415072.66,148553.34,0.0,0.0,0.0,0.0,29,97798.62,563626.00
2001-01-15,Wyoming,WY,69093.43,28705.19,0.0,0.0,0.0,0.0,415072.66,148553.34,0.0,0.0,0.0,0.0,29,97798.62,563626.00
2001-01-08,Wyoming,WY,40340.46,57458.16,0.0,0.0,0.0,0.0,287015.91,276610.09,0.0,0.0,0.0,0.0,59,97798.62,563626.00
2001-01-01,Wyoming,WY,40340.46,57458.16,0.0,0.0,0.0,0.0,287015.91,276610.09,0.0,0.0,0.0,0.0,59,97798.62,563626.00

In [11]:
filesnames = os.listdir('./temperature and precipitation/state_data/')
filesnames = [f for f in filesnames if (f.startswith("temp") and f.lower().endswith(".csv"))]

In [12]:
temp_data =[]
for filename in filesnames:
     df = pd.read_csv(f'./temperature and precipitation/state_data/{filename}')
     temp_data.append(df)

In [13]:
temperatures = pd.concat(temp_data)

In [14]:
features = ['Unnamed: 0', 'tmax', 'tmin', 'temp_id']
temps = temperatures[features]
prcp_feat = ['Unnamed: 0', 'prcp', 'temp_id']
prcp = temperatures[prcp_feat]

In [15]:
temps = temps[temps['Unnamed: 0']<'2020-12-31']
prcp = prcp[prcp['Unnamed: 0']<'2020-12-31']

In [16]:
temps = temps[temps['Unnamed: 0']>'2000-12-31']
prcp = prcp[prcp['Unnamed: 0']>'2000-12-31']

In [17]:
temps.set_index(pd.to_datetime(temps['Unnamed: 0']), inplace = True)
prcp.set_index(pd.to_datetime(prcp['Unnamed: 0']), inplace = True)

In [18]:
temps.index.rename('ValidEnd', inplace=True)
prcp.index.rename('ValidEnd', inplace=True)

In [19]:
states_temp = []
states_prcp = []
for temp_id, state in temps.groupby('temp_id'):
    states_temp.append(state.resample('W-MON').mean())
for temp_id, state in prcp.groupby('temp_id'):
    states_prcp.append(state.resample('W-MON').sum())

In [20]:
states_temp

[                 tmax       tmin  temp_id
 ValidEnd
 2001-01-01  65.181818  39.000000        0
 2001-01-08  65.172727  39.779221        0
 2001-01-15  55.090909  39.740260        0
 2001-01-22  58.787013  36.819481        0
 2001-01-29  55.071429  39.110390        0
 ...               ...        ...      ...
 2020-12-07  67.197403  39.901299        0
 2020-12-14  62.391991  42.538853        0
 2020-12-21  62.101299  40.680519        0
 2020-12-28  60.539286  41.052489        0
 2021-01-04  59.210455  38.669545        0

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  56.700000  31.300000        1
 2001-01-08  62.457143  37.600000        1
 2001-01-15  66.685714  43.642857        1
 2001-01-22  70.328571  49.842857        1
 2001-01-29  67.242857  42.528571        1
 ...               ...        ...      ...
 2020-12-07  69.412857  49.481429        1
 2020-12-14  71.714286  51.072857        1
 2020-12-21  69.692857  51.575714        1
 2020-12-28  68.741429  44.814286        1
 2021-01-04  75.055000  54.860000        1

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  37.500000  29.500000        2
 2001-01-08  57.171429  32.571429        2
 2001-01-15  55.971429  38.828571        2
 2001-01-22  49.342857  33.100000        2
 2001-01-29  60.885714  41.928571        2
 ...               ...        ...      ...
 2020-12-07  60.307143  36.645714        2
 2020-12-14  66.824286  41.095714        2
 2020-12-21  61.964286  37.030000        2
 2020-12-28  67.650000  40.102857        2
 2021-01-04  68.710000  49.445000        2

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  18.555556  -2.555556        3
 2001-01-08  47.730159  20.507937        3
 2001-01-15  42.920635  20.809524        3
 2001-01-22  33.809524  10.031746        3
 2001-01-29  34.952381  16.238095        3
 ...               ...        ...      ...
 2020-12-07  51.915873  21.268254        3
 2020-12-14  43.423810  20.449206        3
 2020-12-21  42.766667  19.077778        3
 2020-12-28  44.476190  18.009524        3
 2021-01-04  32.283333  12.783333        3

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  20.500000  -1.000000        4
 2001-01-08  28.553571   8.142857        4
 2001-01-15  34.303571  22.339286        4
 2001-01-22  23.750000   6.214286        4
 2001-01-29  27.125000   8.535714        4
 ...               ...        ...      ...
 2020-12-07  37.073214  20.433333        4
 2020-12-14  36.754762  22.769048        4
 2020-12-21  32.233333  17.888095        4
 2020-12-28  28.939286  12.100000        4
 2021-01-04  27.049107   9.855357        4

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  21.875000   1.875000        5
 2001-01-08  28.089286  14.250000        5
 2001-01-15  34.500000  23.000000        5
 2001-01-22  27.964286  15.821429        5
 2001-01-29  30.553571  17.857143        5
 ...               ...        ...      ...
 2020-12-07  38.526786  27.688010        5
 2020-12-14  40.655102  27.583673        5
 2020-12-21  33.793878  25.765306        5
 2020-12-28  36.344643  23.683929        5
 2021-01-04  31.843750  21.243750        5

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  25.428571  13.285714        6
 2001-01-08  31.064626  18.901361        6
 2001-01-15  38.571429  22.795918        6
 2001-01-22  31.959184  22.102041        6
 2001-01-29  34.734694  18.857143        6
 ...               ...        ...      ...
 2020-12-07  39.563265  29.453061        6
 2020-12-14  49.255102  32.930612        6
 2020-12-21  37.293878  29.206122        6
 2020-12-28  42.644898  22.475510        6
 2021-01-04  43.421429  26.807143        6

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  26.833333  11.166667        7
 2001-01-08  45.857143  22.428571        7
 2001-01-15  44.809524  30.285714        7
 2001-01-22  40.928571  26.761905        7
 2001-01-29  51.514286  31.219048        7
 ...               ...        ...      ...
 2020-12-07  53.245714  31.474286        7
 2020-12-14  57.768571  34.497143        7
 2020-12-21  49.280000  30.520000        7
 2020-12-28  56.371429  30.140000        7
 2021-01-04  52.310000  36.950000        7

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  15.166667  -3.833333        8
 2001-01-08  32.047619  10.928571        8
 2001-01-15  33.547619  22.952381        8
 2001-01-22  22.571429   3.404762        8
 2001-01-29  27.214286   9.547619        8
 ...               ...        ...      ...
 2020-12-07  43.450000  19.918571        8
 2020-12-14  40.188095  21.957143        8
 2020-12-21  34.878571  18.307143        8
 2020-12-28  32.540476  10.257143        8
 2021-01-04  29.658333  15.125000        8

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  44.333333  33.000000        9
 2001-01-08  49.309524  33.190476        9
 2001-01-15  44.257143  31.933333        9
 2001-01-22  43.857143  30.333333        9
 2001-01-29  44.595238  30.047619        9
 ...               ...        ...      ...
 2020-12-07  47.566667  30.242857        9
 2020-12-14  46.316190  31.911429        9
 2020-12-21  51.028571  38.674286        9
 2020-12-28  44.285714  29.062857        9
 2021-01-04  42.890000  29.180000        9

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  40.833333  22.500000       10
 2001-01-08  52.023810  24.404762       10
 2001-01-15  54.452381  33.238095       10
 2001-01-22  56.523810  38.571429       10
 2001-01-29  59.047619  30.761905       10
 ...               ...        ...      ...
 2020-12-07  58.816667  34.359524       10
 2020-12-14  66.507143  40.014286       10
 2020-12-21  53.504762  36.688095       10
 2020-12-28  58.314286  29.761905       10
 2021-01-04  64.158333  40.366667       10

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  24.000000  18.333333       11
 2001-01-08  33.119048  21.452381       11
 2001-01-15  43.904762  24.714286       11
 2001-01-22  35.142857  23.095238       11
 2001-01-29  40.380952  19.880952       11
 ...               ...        ...      ...
 2020-12-07  38.923810  29.150000       11
 2020-12-14  50.404762  32.883333       11
 2020-12-21  37.638095  28.323810       11
 2020-12-28  42.561905  22.123810       11
 2021-01-04  47.600000  28.750000       11

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  37.200000  24.800000       12
 2001-01-08  54.914286  28.014286       12
 2001-01-15  53.400000  37.457143       12
 2001-01-22  48.000000  34.685714       12
 2001-01-29  60.971429  39.685714       12
 ...               ...        ...      ...
 2020-12-07  58.839286  36.646429       12
 2020-12-14  66.767857  42.225000       12
 2020-12-21  56.647619  38.011905       12
 2020-12-28  64.118571  38.213571       12
 2021-01-04  71.610000  50.330000       12

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  14.000000 -12.600000       13
 2001-01-08  27.742857   8.742857       13
 2001-01-15  31.485714  19.657143       13
 2001-01-22  19.628571   0.085714       13
 2001-01-29  24.457143   4.200000       13
 ...               ...        ...      ...
 2020-12-07  35.874286  19.817143       13
 2020-12-14  33.554286  21.405714       13
 2020-12-21  30.308571  15.005714       13
 2020-12-28  23.871429   3.105714       13
 2021-01-04  21.890000   1.400000       13

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  35.250000  21.250000       14
 2001-01-08  51.035714  23.607143       14
 2001-01-15  51.000000  32.678571       14
 2001-01-22  51.107143  34.321429       14
 2001-01-29  57.392857  32.071429       14
 ...               ...        ...      ...
 2020-12-07  55.377143  31.965714       14
 2020-12-14  64.145714  38.808571       14
 2020-12-21  53.634286  34.314286       14
 2020-12-28  57.797143  30.522857       14
 2021-01-04  67.940000  41.450000       14

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  39.000000  31.200000       15
 2001-01-08  43.600000  31.114286       15
 2001-01-15  39.942857  30.428571       15
 2001-01-22  37.028571  27.600000       15
 2001-01-29  39.314286  27.342857       15
 ...               ...        ...      ...
 2020-12-07  42.957143  28.751429       15
 2020-12-14  42.171429  32.337143       15
 2020-12-21  49.340000  40.031429       15
 2020-12-28  40.908571  27.562857       15
 2021-01-04  37.700000  30.390000       15

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  31.000000  17.400000       16
 2001-01-08  32.342857  19.942857       16
 2001-01-15  38.457143  23.057143       16
 2001-01-22  33.914286  24.742857       16
 2001-01-29  34.942857  19.142857       16
 ...               ...        ...      ...
 2020-12-07  42.780000  32.471429       16
 2020-12-14  48.225714  32.597143       16
 2020-12-21  34.497143  25.402857       16
 2020-12-28  43.428571  26.762857       16
 2021-01-04  41.430000  25.160000       16

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  19.200000   0.400000       17
 2001-01-08  29.914286  11.657143       17
 2001-01-15  33.742857  23.600000       17
 2001-01-22  28.457143  12.885714       17
 2001-01-29  31.457143  17.371429       17
 ...               ...        ...      ...
 2020-12-07  43.485714  24.954286       17
 2020-12-14  44.220000  29.057143       17
 2020-12-21  39.528571  26.411429       17
 2020-12-28  38.465714  17.117143       17
 2021-01-04  35.930000  19.900000       17

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  25.200000  14.200000       18
 2001-01-08  30.828571  17.542857       18
 2001-01-15  34.000000  19.914286       18
 2001-01-22  32.314286  20.771429       18
 2001-01-29  33.400000  19.457143       18
 ...               ...        ...      ...
 2020-12-07  41.534286  30.654286       18
 2020-12-14  43.260000  29.942857       18
 2020-12-21  30.168571  18.160000       18
 2020-12-28  42.094286  27.271429       18
 2021-01-04  37.330000  19.910000       18

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  15.600000  -0.400000       19
 2001-01-08  37.914286  17.914286       19
 2001-01-15  41.314286  27.485714       19
 2001-01-22  36.000000  19.314286       19
 2001-01-29  40.971429  23.142857       19
 ...               ...        ...      ...
 2020-12-07  49.734286  27.914286       19
 2020-12-14  51.837143  31.982857       19
 2020-12-21  46.125714  26.411429       19
 2020-12-28  47.831429  22.308571       19
 2021-01-04  44.070000  27.290000       19

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  36.200000  11.800000       20
 2001-01-08  41.028571  20.542857       20
 2001-01-15  31.028571  15.600000       20
 2001-01-22  31.000000  12.400000       20
 2001-01-29  27.571429   7.828571       20
 ...               ...        ...      ...
 2020-12-07  42.525714  19.631429       20
 2020-12-14  35.834286  20.674286       20
 2020-12-21  44.037143  26.105714       20
 2020-12-28  37.051429  17.862857       20
 2021-01-04  32.810000  13.020000       20

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  65.500000  37.750000       21
 2001-01-08  66.857143  40.321429       21
 2001-01-15  53.857143  35.964286       21
 2001-01-22  55.000000  31.071429       21
 2001-01-29  55.142857  35.785714       21
 ...               ...        ...      ...
 2020-12-07  64.992857  35.420238       21
 2020-12-14  62.253571  40.403571       21
 2020-12-21  62.860714  32.785714       21
 2020-12-28  63.142857  37.082143       21
 2021-01-04  55.112500  34.425000       21

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01   4.500000 -17.250000       22
 2001-01-08  33.178571  13.928571       22
 2001-01-15  26.250000  12.357143       22
 2001-01-22  22.535714  -0.750000       22
 2001-01-29  23.892857   3.642857       22
 ...               ...        ...      ...
 2020-12-07  45.300000  18.976190       22
 2020-12-14  32.580952  16.600000       22
 2020-12-21  34.176190  11.090476       22
 2020-12-28  25.971429   5.914286       22
 2021-01-04  23.800000   5.983333       22

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  19.500000   2.750000       23
 2001-01-08  49.107143  22.035714       23
 2001-01-15  47.535714  24.857143       23
 2001-01-22  35.214286  14.857143       23
 2001-01-29  36.964286  20.535714       23
 ...               ...        ...      ...
 2020-12-07  51.675000  24.985714       23
 2020-12-14  46.807143  24.400000       23
 2020-12-21  44.975000  24.085714       23
 2020-12-28  50.510714  22.500000       23
 2021-01-04  37.412500  22.900000       23

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  25.250000  10.000000       24
 2001-01-08  31.142857  15.285714       24
 2001-01-15  36.214286  22.178571       24
 2001-01-22  32.535714  20.714286       24
 2001-01-29  35.785714  20.107143       24
 ...               ...        ...      ...
 2020-12-07  41.382143  26.853571       24
 2020-12-14  49.542857  31.889286       24
 2020-12-21  39.242857  28.360714       24
 2020-12-28  42.410714  22.514286       24
 2021-01-04  40.600000  25.375000       24

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  39.000000  22.750000       25
 2001-01-08  53.321429  24.464286       25
 2001-01-15  52.404762  34.857143       25
 2001-01-22  52.464286  34.750000       25
 2001-01-29  60.440476  35.000000       25
 ...               ...        ...      ...
 2020-12-07  58.317857  34.064286       25
 2020-12-14  67.417857  40.135714       25
 2020-12-21  56.039286  35.300000       25
 2020-12-28  62.110714  33.035714       25
 2021-01-04  71.637500  49.012500       25

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  45.500000  11.250000       26
 2001-01-08  48.642857  12.535714       26
 2001-01-15  36.535714  17.857143       26
 2001-01-22  35.464286  10.607143       26
 2001-01-29  37.535714  15.642857       26
 ...               ...        ...      ...
 2020-12-07  47.685714  11.796429       26
 2020-12-14  42.657143  14.853571       26
 2020-12-21  45.010714  20.478571       26
 2020-12-28  39.682143  15.635714       26
 2021-01-04  41.787500   8.162500       26

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  36.750000  20.750000       27
 2001-01-08  42.142857  22.607143       27
 2001-01-15  49.678571  28.678571       27
 2001-01-22  42.607143  30.214286       27
 2001-01-29  45.928571  25.785714       27
 ...               ...        ...      ...
 2020-12-07  51.892857  35.128571       27
 2020-12-14  57.310714  35.614286       27
 2020-12-21  43.914286  32.289286       27
 2020-12-28  52.242857  30.053571       27
 2021-01-04  48.225000  29.362500       27

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  39.500000  12.750000       28
 2001-01-08  52.571429  18.428571       28
 2001-01-15  44.964286  15.678571       28
 2001-01-22  32.000000   7.000000       28
 2001-01-29  35.142857  19.357143       28
 ...               ...        ...      ...
 2020-12-07  50.789286  21.003571       28
 2020-12-14  41.585714  17.171429       28
 2020-12-21  43.028571  17.000000       28
 2020-12-28  47.853571  19.707143       28
 2021-01-04  38.537500  11.037500       28

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  36.750000  22.000000       29
 2001-01-08  45.892857  24.214286       29
 2001-01-15  52.857143  33.428571       29
 2001-01-22  52.321429  34.964286       29
 2001-01-29  50.535714  26.857143       29
 ...               ...        ...      ...
 2020-12-07  54.103571  33.767857       29
 2020-12-14  60.100000  37.846429       29
 2020-12-21  48.875000  34.746429       29
 2020-12-28  53.164286  30.032143       29
 2021-01-04  51.637500  35.400000       29

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01   3.000000 -19.250000       30
 2001-01-08  34.428571  16.892857       30
 2001-01-15  30.107143  18.464286       30
 2001-01-22  21.035714  -2.714286       30
 2001-01-29  25.928571   4.000000       30
 ...               ...        ...      ...
 2020-12-07  47.967857  19.957143       30
 2020-12-14  38.889286  20.421429       30
 2020-12-21  38.603571  15.021429       30
 2020-12-28  34.464286   8.550000       30
 2021-01-04  27.375000  10.250000       30

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  29.333333  18.333333       31
 2001-01-08  32.000000  19.047619       31
 2001-01-15  33.333333  18.285714       31
 2001-01-22  33.380952  21.142857       31
 2001-01-29  34.666667  20.380952       31
 ...               ...        ...      ...
 2020-12-07  45.842857  32.285714       31
 2020-12-14  41.957143  30.042857       31
 2020-12-21  31.957143  20.600000       31
 2020-12-28  44.992857  28.621429       31
 2021-01-04  39.500000  21.550000       31

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  32.333333  14.500000       32
 2001-01-08  34.571429  15.571429       32
 2001-01-15  40.476190  20.761905       32
 2001-01-22  37.428571  26.095238       32
 2001-01-29  37.666667  17.547619       32
 ...               ...        ...      ...
 2020-12-07  47.333333  33.809524       32
 2020-12-14  49.364286  30.314286       32
 2020-12-21  35.335714  22.147619       32
 2020-12-28  46.954762  27.714286       32
 2021-01-04  43.666667  25.666667       32

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  27.000000  15.666667       33
 2001-01-08  44.714286  22.142857       33
 2001-01-15  45.904762  30.190476       33
 2001-01-22  42.142857  29.380952       33
 2001-01-29  50.761905  27.428571       33
 ...               ...        ...      ...
 2020-12-07  51.847619  31.333333       33
 2020-12-14  59.328571  36.766667       33
 2020-12-21  48.564286  32.750000       33
 2020-12-28  53.109524  29.523810       33
 2021-01-04  61.200000  34.333333       33

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  39.333333  19.000000       34
 2001-01-08  50.190476  23.047619       34
 2001-01-15  55.666667  33.809524       34
 2001-01-22  57.333333  38.857143       34
 2001-01-29  57.000000  28.619048       34
 ...               ...        ...      ...
 2020-12-07  56.421429  33.492857       34
 2020-12-14  63.871429  38.764286       34
 2020-12-21  50.714286  36.457143       34
 2020-12-28  54.864286  29.164286       34
 2021-01-04  53.750000  38.550000       34

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd
 2001-01-01  27.666667  13.000000       35
 2001-01-08  46.047619  22.095238       35
 2001-01-15  47.523810  30.190476       35
 2001-01-22  40.452381  23.166667       35
 2001-01-29  46.952381  28.190476       35
 ...               ...        ...      ...
 2020-12-07  54.166667  29.866667       35
 2020-12-14  55.428571  29.995238       35
 2020-12-21  50.047619  29.219048       35
 2020-12-28  58.171429  29.300000       35
 2021-01-04  50.700000  33.466667       35

 [1045 rows x 3 columns],
                  tmax       tmin  temp_id
 ValidEnd

In [21]:
states_prcp

[                prcp  temp_id
 ValidEnd
 2001-01-01  0.000000        0
 2001-01-08  0.533636        0
 2001-01-15  1.660909        0
 2001-01-22  0.030000        0
 2001-01-29  1.421818        0
 ...              ...      ...
 2020-12-07  0.075455        0
 2020-12-14  0.650000        0
 2020-12-21  0.555455        0
 2020-12-28  0.712348        0
 2021-01-04  0.126909        0

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.000        1
 2001-01-08  0.169        7
 2001-01-15  0.134        7
 2001-01-22  0.461        7
 2001-01-29  0.061        7
 ...           ...      ...
 2020-12-07  0.838        7
 2020-12-14  0.120        7
 2020-12-21  0.791        7
 2020-12-28  0.492        7
 2021-01-04  0.014        2

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.024        2
 2001-01-08  0.050       14
 2001-01-15  0.950       14
 2001-01-22  0.941       14
 2001-01-29  0.589       14
 ...           ...      ...
 2020-12-07  0.226       14
 2020-12-14  0.386       14
 2020-12-21  0.442       14
 2020-12-28  0.049       14
 2021-01-04  0.414        4

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.000000        3
 2001-01-08  0.000000       21
 2001-01-15  0.314722       21
 2001-01-22  0.008611       21
 2001-01-29  0.483333       21
 ...              ...      ...
 2020-12-07  0.000000       21
 2020-12-14  0.275556       21
 2020-12-21  0.046667       21
 2020-12-28  0.104444       21
 2021-01-04  0.321111        6

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.001250        4
 2001-01-08  0.028750       28
 2001-01-15  0.285000       28
 2001-01-22  0.012500       28
 2001-01-29  0.502500       28
 ...              ...      ...
 2020-12-07  0.000000       28
 2020-12-14  0.036000       28
 2020-12-21  0.044000       28
 2020-12-28  0.201429       28
 2021-01-04  0.249524        8

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.005000        5
 2001-01-08  0.206250       35
 2001-01-15  0.133750       35
 2001-01-22  0.023750       35
 2001-01-29  0.312500       35
 ...              ...      ...
 2020-12-07  0.026607       35
 2020-12-14  1.122857       35
 2020-12-21  0.144286       35
 2020-12-28  0.375000       35
 2021-01-04  0.401250       10

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.004286        6
 2001-01-08  0.114524       42
 2001-01-15  0.060000       42
 2001-01-22  0.141429       42
 2001-01-29  0.331429       42
 ...              ...      ...
 2020-12-07  0.101429       42
 2020-12-14  0.137143       42
 2020-12-21  0.469286       42
 2020-12-28  0.414286       42
 2021-01-04  0.448571       12

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.000000        7
 2001-01-08  0.000000       49
 2001-01-15  0.655000       49
 2001-01-22  0.880000       49
 2001-01-29  1.030667       49
 ...              ...      ...
 2020-12-07  0.434000       49
 2020-12-14  1.310000       49
 2020-12-21  0.226000       49
 2020-12-28  0.112000       49
 2021-01-04  0.840000       14

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.001667        8
 2001-01-08  0.001667       56
 2001-01-15  0.385000       56
 2001-01-22  0.000000       56
 2001-01-29  0.838333       56
 ...              ...      ...
 2020-12-07  0.000000       56
 2020-12-14  0.588333       56
 2020-12-21  0.000000       56
 2020-12-28  0.095000       56
 2021-01-04  0.762000       16

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.000000        9
 2001-01-08  0.355000       63
 2001-01-15  0.514667       63
 2001-01-22  0.508333       63
 2001-01-29  0.396667       63
 ...              ...      ...
 2020-12-07  0.115000       63
 2020-12-14  1.007333       63
 2020-12-21  2.398000       63
 2020-12-28  0.632000       63
 2021-01-04  0.468000       18

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.000000       10
 2001-01-08  0.428333       70
 2001-01-15  0.313333       70
 2001-01-22  1.038333       70
 2001-01-29  0.251667       70
 ...              ...      ...
 2020-12-07  0.281667       70
 2020-12-14  0.273333       70
 2020-12-21  0.546667       70
 2020-12-28  1.258333       70
 2021-01-04  0.001667       20

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.000000       11
 2001-01-08  0.055000       77
 2001-01-15  0.008333       77
 2001-01-22  1.165000       77
 2001-01-29  0.223333       77
 ...              ...      ...
 2020-12-07  0.515000       77
 2020-12-14  0.730000       77
 2020-12-21  0.766667       77
 2020-12-28  0.965000       77
 2021-01-04  0.020000       22

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.044       12
 2001-01-08  0.192       84
 2001-01-15  0.808       84
 2001-01-22  3.612       84
 2001-01-29  0.916       84
 ...           ...      ...
 2020-12-07  0.408       84
 2020-12-14  1.634       84
 2020-12-21  1.496       84
 2020-12-28  0.318       84
 2021-01-04  0.528       24

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.000       13
 2001-01-08  0.048       91
 2001-01-15  0.222       91
 2001-01-22  0.042       91
 2001-01-29  0.326       91
 ...           ...      ...
 2020-12-07  0.004       91
 2020-12-14  0.046       91
 2020-12-21  0.168       91
 2020-12-28  0.288       91
 2021-01-04  0.232       26

 [1045 rows x 2 columns],
               prcp  temp_id
 ValidEnd
 2001-01-01  0.0075       14
 2001-01-08  0.4275       98
 2001-01-15  0.6550       98
 2001-01-22  2.2325       98
 2001-01-29  1.2650       98
 ...            ...      ...
 2020-12-07  0.8520       98
 2020-12-14  1.2360       98
 2020-12-21  0.3540       98
 2020-12-28  1.4400       98
 2021-01-04  0.0000       28

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.000       15
 2001-01-08  0.288      105
 2001-01-15  0.446      105
 2001-01-22  0.432      105
 2001-01-29  0.160      105
 ...           ...      ...
 2020-12-07  0.024      105
 2020-12-14  0.616      105
 2020-12-21  1.674      105
 2020-12-28  0.424      105
 2021-01-04  0.562       30

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.002       16
 2001-01-08  0.300      112
 2001-01-15  0.064      112
 2001-01-22  0.814      112
 2001-01-29  0.080      112
 ...           ...      ...
 2020-12-07  0.522      112
 2020-12-14  0.266      112
 2020-12-21  1.190      112
 2020-12-28  1.890      112
 2021-01-04  0.142       32

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.002       17
 2001-01-08  0.000      119
 2001-01-15  0.346      119
 2001-01-22  0.000      119
 2001-01-29  1.620      119
 ...           ...      ...
 2020-12-07  0.000      119
 2020-12-14  1.026      119
 2020-12-21  0.006      119
 2020-12-28  0.108      119
 2021-01-04  0.748       34

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.008       18
 2001-01-08  0.370      126
 2001-01-15  0.228      126
 2001-01-22  0.510      126
 2001-01-29  0.112      126
 ...           ...      ...
 2020-12-07  0.536      126
 2020-12-14  0.290      126
 2020-12-21  1.052      126
 2020-12-28  1.256      126
 2021-01-04  0.160       36

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.000       19
 2001-01-08  0.000      133
 2001-01-15  0.356      133
 2001-01-22  0.006      133
 2001-01-29  1.536      133
 ...           ...      ...
 2020-12-07  0.098      133
 2020-12-14  0.400      133
 2020-12-21  0.002      133
 2020-12-28  0.082      133
 2021-01-04  0.582       38

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.000       20
 2001-01-08  0.000      140
 2001-01-15  0.172      140
 2001-01-22  0.084      140
 2001-01-29  0.132      140
 ...           ...      ...
 2020-12-07  0.004      140
 2020-12-14  0.078      140
 2020-12-21  0.042      140
 2020-12-28  0.036      140
 2021-01-04  0.002       40

 [1045 rows x 2 columns],
               prcp  temp_id
 ValidEnd
 2001-01-01  0.0000       21
 2001-01-08  0.1175      147
 2001-01-15  0.8800      147
 2001-01-22  0.2300      147
 2001-01-29  0.2775      147
 ...            ...      ...
 2020-12-07  0.0000      147
 2020-12-14  0.2675      147
 2020-12-21  0.0000      147
 2020-12-28  0.0425      147
 2021-01-04  0.0025       42

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.000000       22
 2001-01-08  0.005000      154
 2001-01-15  0.187500      154
 2001-01-22  0.075000      154
 2001-01-29  0.000000      154
 ...              ...      ...
 2020-12-07  0.000000      154
 2020-12-14  0.026667      154
 2020-12-21  0.060000      154
 2020-12-28  0.086667      154
 2021-01-04  0.273333       44

 [1045 rows x 2 columns],
               prcp  temp_id
 ValidEnd
 2001-01-01  0.0000       23
 2001-01-08  0.0000      161
 2001-01-15  0.2400      161
 2001-01-22  0.1000      161
 2001-01-29  0.7925      161
 ...            ...      ...
 2020-12-07  0.1075      161
 2020-12-14  0.2300      161
 2020-12-21  0.0850      161
 2020-12-28  0.0350      161
 2021-01-04  0.5150       46

 [1045 rows x 2 columns],
               prcp  temp_id
 ValidEnd
 2001-01-01  0.0400       24
 2001-01-08  0.0025      168
 2001-01-15  0.1175      168
 2001-01-22  0.0575      168
 2001-01-29  0.5150      168
 ...            ...      ...
 2020-12-07  0.0050      168
 2020-12-14  0.6675      168
 2020-12-21  0.1300      168
 2020-12-28  0.5075      168
 2021-01-04  0.5125       48

 [1045 rows x 2 columns],
               prcp  temp_id
 ValidEnd
 2001-01-01  0.0250       25
 2001-01-08  0.4650      175
 2001-01-15  0.9450      175
 2001-01-22  2.1150      175
 2001-01-29  1.2350      175
 ...            ...      ...
 2020-12-07  0.7725      175
 2020-12-14  0.7100      175
 2020-12-21  0.6275      175
 2020-12-28  1.5550      175
 2021-01-04  0.0000       50

 [1045 rows x 2 columns],
               prcp  temp_id
 ValidEnd
 2001-01-01  0.0000       26
 2001-01-08  0.0400      182
 2001-01-15  0.2350      182
 2001-01-22  0.0425      182
 2001-01-29  0.0900      182
 ...            ...      ...
 2020-12-07  0.0000      182
 2020-12-14  0.2575      182
 2020-12-21  0.1700      182
 2020-12-28  0.0375      182
 2021-01-04  0.0000       52

 [1045 rows x 2 columns],
               prcp  temp_id
 ValidEnd
 2001-01-01  0.0000       27
 2001-01-08  0.2575      189
 2001-01-15  0.0500      189
 2001-01-22  1.4475      189
 2001-01-29  0.0025      189
 ...            ...      ...
 2020-12-07  1.5650      189
 2020-12-14  1.2250      189
 2020-12-21  1.1650      189
 2020-12-28  1.2100      189
 2021-01-04  0.0050       54

 [1045 rows x 2 columns],
               prcp  temp_id
 ValidEnd
 2001-01-01  0.0000       28
 2001-01-08  0.0000      196
 2001-01-15  0.1275      196
 2001-01-22  0.2350      196
 2001-01-29  0.3475      196
 ...            ...      ...
 2020-12-07  0.0000      196
 2020-12-14  0.1775      196
 2020-12-21  0.0125      196
 2020-12-28  0.1850      196
 2021-01-04  0.0150       56

 [1045 rows x 2 columns],
               prcp  temp_id
 ValidEnd
 2001-01-01  0.0000       29
 2001-01-08  0.1900      203
 2001-01-15  0.2625      203
 2001-01-22  1.3275      203
 2001-01-29  0.0075      203
 ...            ...      ...
 2020-12-07  0.9425      203
 2020-12-14  0.8700      203
 2020-12-21  0.9900      203
 2020-12-28  1.8350      203
 2021-01-04  0.0250       58

 [1045 rows x 2 columns],
               prcp  temp_id
 ValidEnd
 2001-01-01  0.0000       30
 2001-01-08  0.0000      210
 2001-01-15  0.4100      210
 2001-01-22  0.0400      210
 2001-01-29  0.4750      210
 ...            ...      ...
 2020-12-07  0.0000      210
 2020-12-14  0.0025      210
 2020-12-21  0.0175      210
 2020-12-28  0.2225      210
 2021-01-04  0.2775       60

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.000000       31
 2001-01-08  0.333333      217
 2001-01-15  0.296667      217
 2001-01-22  0.923333      217
 2001-01-29  0.003333      217
 ...              ...      ...
 2020-12-07  2.060000      217
 2020-12-14  0.440000      217
 2020-12-21  1.300000      217
 2020-12-28  2.205000      217
 2021-01-04  0.000000       62

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.000000       32
 2001-01-08  0.190000      224
 2001-01-15  0.386667      224
 2001-01-22  1.840000      224
 2001-01-29  0.016667      224
 ...              ...      ...
 2020-12-07  2.233333      224
 2020-12-14  0.250000      224
 2020-12-21  1.051667      224
 2020-12-28  1.476667      224
 2021-01-04  0.000000       64

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.033333       33
 2001-01-08  0.120000      231
 2001-01-15  0.510000      231
 2001-01-22  2.503333      231
 2001-01-29  0.793333      231
 ...              ...      ...
 2020-12-07  0.573333      231
 2020-12-14  1.616667      231
 2020-12-21  0.616667      231
 2020-12-28  0.930000      231
 2021-01-04  0.545000       66

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.000000       34
 2001-01-08  0.530000      238
 2001-01-15  0.363333      238
 2001-01-22  1.463333      238
 2001-01-29  0.000000      238
 ...              ...      ...
 2020-12-07  0.575000      238
 2020-12-14  0.545000      238
 2020-12-21  0.645000      238
 2020-12-28  0.930000      238
 2021-01-04  0.005000       68

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.080000       35
 2001-01-08  0.000000      245
 2001-01-15  0.253333      245
 2001-01-22  0.130000      245
 2001-01-29  1.603333      245
 ...              ...      ...
 2020-12-07  0.390000      245
 2020-12-14  0.596667      245
 2020-12-21  0.115000      245
 2020-12-28  0.000000      245
 2021-01-04  1.083333       70

 [1045 rows x 2 columns],
                 prcp  temp_id
 ValidEnd
 2001-01-01  0.000000       36
 2001-01-08  0.000000      252
 2001-01-15  0.083333      252
 2001-01-22  0.273333      252
 2001-01-29  0.386667      252
 ...              ...      ...
 2020-12-07  0.000000      252
 2020-12-14  0.163333      252
 2020-12-21  0.000000      252
 2020-12-28  0.000000      252
 2021-01-04  0.000000       72

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.095       37
 2001-01-08  0.360      259
 2001-01-15  0.085      259
 2001-01-22  0.310      259
 2001-01-29  0.000      259
 ...           ...      ...
 2020-12-07  1.815      259
 2020-12-14  0.245      259
 2020-12-21  1.160      259
 2020-12-28  1.595      259
 2021-01-04  0.000       74

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.020       38
 2001-01-08  0.000      266
 2001-01-15  0.070      266
 2001-01-22  0.820      266
 2001-01-29  0.300      266
 ...           ...      ...
 2020-12-07  0.020      266
 2020-12-14  0.000      266
 2020-12-21  0.000      266
 2020-12-28  0.410      266
 2021-01-04  0.655       76

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.005       39
 2001-01-08  0.000      273
 2001-01-15  0.070      273
 2001-01-22  0.085      273
 2001-01-29  0.115      273
 ...           ...      ...
 2020-12-07  0.125      273
 2020-12-14  0.335      273
 2020-12-21  0.005      273
 2020-12-28  0.070      273
 2021-01-04  0.000       78

 [1045 rows x 2 columns],
              prcp  temp_id
 ValidEnd
 2001-01-01  0.000       40
 2001-01-08  0.010      280
 2001-01-15  0.630      280
 2001-01-22  0.180      280
 2001-01-29  0.205      280
 ...           ...      ...
 2020-12-07  0.000      280
 2020-12-14  0.115      280
 2020-12-21  0.225      280
 2020-12-28  0.245      280
 2021-01-04  0.010       80

 [1045 rows x 2 columns],
             prcp  temp_id
 ValidEnd
 2001-01-01  0.00       41
 2001-01-08  0.28      287
 2001-01-15  0.03      287
 2001-01-22  1.73      287
 2001-01-29  0.00      287
 ...          ...      ...
 2020-12-07  0.90      287
 2020-12-14  1.17      287
 2020-12-21  1.46      287
 2020-12-28  1.05      287
 2021-01-04  0.00       82

 [1045 rows x 2 columns],
             prcp  temp_id
 ValidEnd
 2001-01-01  0.00       42
 2001-01-08  0.40      294
 2001-01-15  0.14      294
 2001-01-22  2.00      294
 2001-01-29  0.00      294
 ...          ...      ...
 2020-12-07  1.04      294
 2020-12-14  0.62      294
 2020-12-21  1.03      294
 2020-12-28  2.46      294
 2021-01-04  0.00       84

 [1045 rows x 2 columns],
             prcp  temp_id
 ValidEnd
 2001-01-01  0.00       43
 2001-01-08  0.08      301
 2001-01-15  0.12      301
 2001-01-22  0.16      301
 2001-01-29  0.05      301
 ...          ...      ...
 2020-12-07  0.13      301
 2020-12-14  0.17      301
 2020-12-21  0.31      301
 2020-12-28  0.65      301
 2021-01-04  0.01       86

 [1045 rows x 2 columns],
             prcp  temp_id
 ValidEnd
 2001-01-01  0.00       44
 2001-01-08  0.03      308
 2001-01-15  0.24      308
 2001-01-22  0.09      308
 2001-01-29  0.38      308
 ...          ...      ...
 2020-12-07  0.00      308
 2020-12-14  0.13      308
 2020-12-21  0.21      308
 2020-12-28  0.00      308
 2021-01-04  0.00       88

 [1045 rows x 2 columns],
             prcp  temp_id
 ValidEnd
 2001-01-01  0.00       45
 2001-01-08  0.34      315
 2001-01-15  0.17      315
 2001-01-22  0.20      315
 2001-01-29  0.00      315
 ...          ...      ...
 2020-12-07  2.26      315
 2020-12-14  0.38      315
 2020-12-21  1.48      315
 2020-12-28  1.09      315
 2021-01-04  0.00       90

 [1045 rows x 2 columns]]

In [22]:
weekly_temp = pd.concat(states_temp)

In [23]:
weekly_prcp = pd.concat(states_prcp)

In [24]:
ids = {
    0: 'California',
    1: 'Florida',
    2: 'Texas',
    3: 'Nebraska',
    4: 'Wisconsin',
    5: 'Michigan',
    6: 'Ohio',
    7: 'Arkansas',
    8: 'Iowa',
    9: 'Oregon',
    10:'Georgia',
    11: 'West Virginia',
    12: 'Louisiana',
    13: 'Minnesota',
    14: 'Alabama',
    15: 'Washington',
    16: 'Pennslyvania',
    17: 'Illinois',
    18: 'New York',
    19: 'Missouri',
    20: 'Montana',
    21: 'Arizona',
    22: 'North Dakota',
    23: 'Kansas',
    24: 'Indiana',
    25: 'Mississippi',
    26: 'Nevada', 
    27: 'Virginia', 
    28: 'Colorado',
    29: 'North Carolina',
    30: 'South Dakota',
    31: 'Massachusetts',
    32: 'New Jersey',
    33: 'Tennessee',
    34: 'South Carolina',
    35: 'Oklahoma',
    36: 'New Mexico',
    37: 'New Hampshire',
    38: 'Kentucky',
    39: 'Wyoming',
    40: 'Idaho',
    41: 'Maryland',
    42: 'Delaware',
    43: 'Vermont',
    44: 'Utah',
    45: 'Maine'

}

In [25]:
weekly_temp.head()

                 tmax       tmin  temp_id
ValidEnd
2001-01-01  65.181818  39.000000        0
2001-01-08  65.172727  39.779221        0
2001-01-15  55.090909  39.740260        0
2001-01-22  58.787013  36.819481        0
2001-01-29  55.071429  39.110390        0

In [26]:
weekly_temp['temp_id'].replace(ids, inplace = True)

In [27]:
weekly_prcp['temp_id'].replace(ids, inplace = True)

In [28]:
weekly_temp.rename(columns={'temp_id':'Name', 'tmin': 'avg_tmin', 'tmax': 'avg_tmax'}, inplace=True)

In [29]:
weekly_prcp.rename(columns={'temp_id':'Name', 'prcp': 'total_avg_prcp_inches'}, inplace=True)

In [30]:
weekly_temp.head()

             avg_tmax   avg_tmin        Name
ValidEnd
2001-01-01  65.181818  39.000000  California
2001-01-08  65.172727  39.779221  California
2001-01-15  55.090909  39.740260  California
2001-01-22  58.787013  36.819481  California
2001-01-29  55.071429  39.110390  California

In [31]:
weekly_prcp.head()

            total_avg_prcp_inches        Name
ValidEnd
2001-01-01               0.000000  California
2001-01-08               0.533636  California
2001-01-15               1.660909  California
2001-01-22               0.030000  California
2001-01-29               1.421818  California

In [32]:
drought.head()

,Name,state,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,population_d0,population_d1,population_d2,population_d3,population_d4,DSCI,total_area,total_population
ValidEnd,,,,,,,,,,,,,,,,,
2021-01-04,Alaska,AK,532707.03,49861.26,0.0,0.0,0.0,0.0,690049.92,19580.07,0.0,0.0,0.0,0.0,9,582568.29,709629.99
2020-12-28,Alaska,AK,532707.03,49861.26,0.0,0.0,0.0,0.0,690049.92,19580.07,0.0,0.0,0.0,0.0,9,582568.29,709629.99
2020-12-21,Alaska,AK,517815.00,64753.29,0.0,0.0,0.0,0.0,689487.16,20142.84,0.0,0.0,0.0,0.0,11,582568.29,709630.00
2020-12-14,Alaska,AK,517815.00,64753.29,0.0,0.0,0.0,0.0,689487.16,20142.84,0.0,0.0,0.0,0.0,11,582568.29,709630.00
2020-12-07,Alaska,AK,517831.12,64737.17,0.0,0.0,0.0,0.0,460520.82,249109.17,0.0,0.0,0.0,0.0,11,582568.29,709629.99

In [33]:
drought = drought[drought['Name'] != 'Alaska']

In [34]:
drought = drought[drought['Name'] != 'Hawaii']

In [35]:
drought = drought[drought['Name'] != 'Puerto Rico']

In [36]:
drought = drought[drought['Name'] != 'District of Columbia']

In [37]:
drought = drought[drought['Name'] != 'Connecticut']

In [38]:
drought = drought[drought['Name'] != 'Rhode Island']

In [39]:
drought['Name'].value_counts()

Pennsylvania      1045
Michigan          1045
North Carolina    1045
Iowa              1045
Wyoming           1045
Nebraska          1045
Florida           1045
Montana           1045
Arizona           1045
Wisconsin         1045
Maryland          1045
Oregon            1045
Indiana           1045
Virginia          1045
Colorado          1045
Oklahoma          1045
Texas             1045
Massachusetts     1045
North Dakota      1045
California        1045
Alabama           1045
New Hampshire     1045
Mississippi       1045
Minnesota         1045
Arkansas          1045
Maine             1045
New York          1045
New Jersey        1045
Tennessee         1045
Utah              1045
Kentucky          1045
New Mexico        1045
South Carolina    1045
Ohio              1045
Kansas            1045
Idaho             1045
Illinois          1045
South Dakota      1045
Nevada            1045
West Virginia     1045
Louisiana         1045
Washington        1045
Delaware          1045
Missouri          1045
Vermont           1045
Georgia           1045
Name: Name, dtype: int64

In [40]:
weekly_data = pd.merge(weekly_temp, weekly_prcp, on=['ValidEnd', 'Name'])

In [41]:
final = pd.merge(drought, weekly_data, on=['ValidEnd', 'Name'])

In [42]:
final.to_csv('final_merged_drought_temp.csv')

In [43]:
import pandas as pd

In [45]:
final.head()

,ValidEnd,Name,state,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,...,population_d1,population_d2,population_d3,population_d4,DSCI,total_area,total_population,avg_tmax,avg_tmin,total_avg_prcp_inches
0,2021-01-04,Alabama,AL,47712.19,3892.15,0.0,0.0,0.0,0.0,4596699.61,...,0.0,0.0,0.0,0.0,8,51604.34,4779736.02,67.940000,41.450000,0.840
1,2020-12-28,Alabama,AL,39068.95,12535.39,0.0,0.0,0.0,0.0,4038013.82,...,0.0,0.0,0.0,0.0,24,51604.34,4779736.02,57.797143,30.522857,0.049
2,2020-12-21,Alabama,AL,39068.95,12535.40,0.0,0.0,0.0,0.0,4038013.43,...,0.0,0.0,0.0,0.0,24,51604.35,4779736.02,53.634286,34.314286,0.442
3,2020-12-14,Alabama,AL,42812.87,8791.48,0.0,0.0,0.0,0.0,4239664.15,...,0.0,0.0,0.0,0.0,17,51604.35,4779736.02,64.145714,38.808571,0.386
4,2020-12-07,Alabama,AL,45608.51,5995.84,0.0,0.0,0.0,0.0,4483976.48,...,0.0,0.0,0.0,0.0,12,51604.35,4779736.02,55.377143,31.965714,0.226

In [46]:
final['total_avg_prcp_mm'] = final['total_avg_prcp_inches'] * 25.4

In [47]:
final.head()

,ValidEnd,Name,state,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,...,population_d2,population_d3,population_d4,DSCI,total_area,total_population,avg_tmax,avg_tmin,total_avg_prcp_inches,total_avg_prcp_mm
0,2021-01-04,Alabama,AL,47712.19,3892.15,0.0,0.0,0.0,0.0,4596699.61,...,0.0,0.0,0.0,8,51604.34,4779736.02,67.940000,41.450000,0.840,21.3360
1,2020-12-28,Alabama,AL,39068.95,12535.39,0.0,0.0,0.0,0.0,4038013.82,...,0.0,0.0,0.0,24,51604.34,4779736.02,57.797143,30.522857,0.049,1.2446
2,2020-12-21,Alabama,AL,39068.95,12535.40,0.0,0.0,0.0,0.0,4038013.43,...,0.0,0.0,0.0,24,51604.35,4779736.02,53.634286,34.314286,0.442,11.2268
3,2020-12-14,Alabama,AL,42812.87,8791.48,0.0,0.0,0.0,0.0,4239664.15,...,0.0,0.0,0.0,17,51604.35,4779736.02,64.145714,38.808571,0.386,9.8044
4,2020-12-07,Alabama,AL,45608.51,5995.84,0.0,0.0,0.0,0.0,4483976.48,...,0.0,0.0,0.0,12,51604.35,4779736.02,55.377143,31.965714,0.226,5.7404

In [48]:
final.to_csv('temperature and precipitation/final_drought_temp_data.csv')