In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression,LogisticRegressionCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv('./temperature and precipitation/arizona_drought.csv')

In [3]:
df.head()

,MapDate,Region,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,ClimateDivisionsID
0,20211214,North Central,0.00,"2,524.61","4,778.24",825.21,0.00,0.00,2021-12-14,2021-12-20,2,203
1,20211214,South Central,0.00,"6,015.35","8,582.52",0.00,0.00,0.00,2021-12-14,2021-12-20,2,206
2,20211214,Southwest,0.00,"3,506.42","5,686.56",754.34,85.16,0.00,2021-12-14,2021-12-20,2,205
3,20211214,Southeast,0.00,"7,545.43","14,232.63","1,358.43",0.00,0.00,2021-12-14,2021-12-20,2,207
4,20211214,Northeast,0.00,"5,175.82","12,250.35","16,518.12","5,894.94",0.00,2021-12-14,2021-12-20,2,202

In [4]:
df.drop(columns='StatisticFormatID',inplace=True)
df.head()

,MapDate,Region,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,ClimateDivisionsID
0,20211214,North Central,0.00,"2,524.61","4,778.24",825.21,0.00,0.00,2021-12-14,2021-12-20,203
1,20211214,South Central,0.00,"6,015.35","8,582.52",0.00,0.00,0.00,2021-12-14,2021-12-20,206
2,20211214,Southwest,0.00,"3,506.42","5,686.56",754.34,85.16,0.00,2021-12-14,2021-12-20,205
3,20211214,Southeast,0.00,"7,545.43","14,232.63","1,358.43",0.00,0.00,2021-12-14,2021-12-20,207
4,20211214,Northeast,0.00,"5,175.82","12,250.35","16,518.12","5,894.94",0.00,2021-12-14,2021-12-20,202

In [5]:
df.drop(columns='ValidEnd',inplace=True)
df.head()

,MapDate,Region,None,D0,D1,D2,D3,D4,ValidStart,ClimateDivisionsID
0,20211214,North Central,0.00,"2,524.61","4,778.24",825.21,0.00,0.00,2021-12-14,203
1,20211214,South Central,0.00,"6,015.35","8,582.52",0.00,0.00,0.00,2021-12-14,206
2,20211214,Southwest,0.00,"3,506.42","5,686.56",754.34,85.16,0.00,2021-12-14,205
3,20211214,Southeast,0.00,"7,545.43","14,232.63","1,358.43",0.00,0.00,2021-12-14,207
4,20211214,Northeast,0.00,"5,175.82","12,250.35","16,518.12","5,894.94",0.00,2021-12-14,202

In [6]:
df=pd.get_dummies(df,columns=['Region'])
df.head()

,MapDate,None,D0,D1,D2,D3,D4,ValidStart,ClimateDivisionsID,Region_East Central,Region_North Central,Region_Northeast,Region_Northwest,Region_South Central,Region_Southeast,Region_Southwest
0,20211214,0.00,"2,524.61","4,778.24",825.21,0.00,0.00,2021-12-14,203,0,1,0,0,0,0,0
1,20211214,0.00,"6,015.35","8,582.52",0.00,0.00,0.00,2021-12-14,206,0,0,0,0,1,0,0
2,20211214,0.00,"3,506.42","5,686.56",754.34,85.16,0.00,2021-12-14,205,0,0,0,0,0,0,1
3,20211214,0.00,"7,545.43","14,232.63","1,358.43",0.00,0.00,2021-12-14,207,0,0,0,0,0,1,0
4,20211214,0.00,"5,175.82","12,250.35","16,518.12","5,894.94",0.00,2021-12-14,202,0,0,1,0,0,0,0

In [7]:
df=pd.get_dummies(df, columns=['ClimateDivisionsID'])
df.head()

,MapDate,None,D0,D1,D2,D3,D4,ValidStart,Region_East Central,Region_North Central,...,Region_South Central,Region_Southeast,Region_Southwest,ClimateDivisionsID_201,ClimateDivisionsID_202,ClimateDivisionsID_203,ClimateDivisionsID_204,ClimateDivisionsID_205,ClimateDivisionsID_206,ClimateDivisionsID_207
0,20211214,0.00,"2,524.61","4,778.24",825.21,0.00,0.00,2021-12-14,0,1,...,0,0,0,0,0,1,0,0,0,0
1,20211214,0.00,"6,015.35","8,582.52",0.00,0.00,0.00,2021-12-14,0,0,...,1,0,0,0,0,0,0,0,1,0
2,20211214,0.00,"3,506.42","5,686.56",754.34,85.16,0.00,2021-12-14,0,0,...,0,0,1,0,0,0,0,1,0,0
3,20211214,0.00,"7,545.43","14,232.63","1,358.43",0.00,0.00,2021-12-14,0,0,...,0,1,0,0,0,0,0,0,0,1
4,20211214,0.00,"5,175.82","12,250.35","16,518.12","5,894.94",0.00,2021-12-14,0,0,...,0,0,0,0,1,0,0,0,0,0

In [8]:
df.isnull().sum()

MapDate                   0
None                      0
D0                        0
D1                        0
D2                        0
D3                        0
D4                        0
ValidStart                0
Region_East Central       0
Region_North Central      0
Region_Northeast          0
Region_Northwest          0
Region_South Central      0
Region_Southeast          0
Region_Southwest          0
ClimateDivisionsID_201    0
ClimateDivisionsID_202    0
ClimateDivisionsID_203    0
ClimateDivisionsID_204    0
ClimateDivisionsID_205    0
ClimateDivisionsID_206    0
ClimateDivisionsID_207    0
dtype: int64

In [9]:
df.rename(columns= lambda x:x.replace(' ', '_').lower(), inplace= True)

df.head()

,mapdate,none,d0,d1,d2,d3,d4,validstart,region_east_central,region_north_central,...,region_south_central,region_southeast,region_southwest,climatedivisionsid_201,climatedivisionsid_202,climatedivisionsid_203,climatedivisionsid_204,climatedivisionsid_205,climatedivisionsid_206,climatedivisionsid_207
0,20211214,0.00,"2,524.61","4,778.24",825.21,0.00,0.00,2021-12-14,0,1,...,0,0,0,0,0,1,0,0,0,0
1,20211214,0.00,"6,015.35","8,582.52",0.00,0.00,0.00,2021-12-14,0,0,...,1,0,0,0,0,0,0,0,1,0
2,20211214,0.00,"3,506.42","5,686.56",754.34,85.16,0.00,2021-12-14,0,0,...,0,0,1,0,0,0,0,1,0,0
3,20211214,0.00,"7,545.43","14,232.63","1,358.43",0.00,0.00,2021-12-14,0,0,...,0,1,0,0,0,0,0,0,0,1
4,20211214,0.00,"5,175.82","12,250.35","16,518.12","5,894.94",0.00,2021-12-14,0,0,...,0,0,0,0,1,0,0,0,0,0

In [10]:
df['none'].value_counts()

0.00         4464
8,128.06      171
4,795.14      155
10,032.48     155
14,597.87     132
             ...
1,241.33        1
4,755.69        1
198.39          1
18,914.88       1
32.70           1
Name: none, Length: 973, dtype: int64

In [11]:
df.shape

(7665, 22)

In [12]:
df.dtypes

mapdate                    int64
none                      object
d0                        object
d1                        object
d2                        object
d3                        object
d4                        object
validstart                object
region_east_central        uint8
region_north_central       uint8
region_northeast           uint8
region_northwest           uint8
region_south_central       uint8
region_southeast           uint8
region_southwest           uint8
climatedivisionsid_201     uint8
climatedivisionsid_202     uint8
climatedivisionsid_203     uint8
climatedivisionsid_204     uint8
climatedivisionsid_205     uint8
climatedivisionsid_206     uint8
climatedivisionsid_207     uint8
dtype: object

In [13]:
object_features=['none','d0','d1','d2','d3','d4']

In [16]:
df.set_index('validstart', inplace=True)
df.index = pd.to_datetime(df.index)

In [17]:
for col in df:
    if df[col].dtype==object:
        df[col]=[float(str(i).replace(",",""))for i in df[col]]
#https://stackoverflow.com/questions/8420143/valueerror-could-not-convert-string-to-float-id

In [18]:
for col in df:
    if df[col].dtype==object:
        df[col]=[float(str(i).replace("''",""))for i in df[col]]

In [19]:
df.dtypes

mapdate                     int64
none                      float64
d0                        float64
d1                        float64
d2                        float64
d3                        float64
d4                        float64
region_east_central         uint8
region_north_central        uint8
region_northeast            uint8
region_northwest            uint8
region_south_central        uint8
region_southeast            uint8
region_southwest            uint8
climatedivisionsid_201      uint8
climatedivisionsid_202      uint8
climatedivisionsid_203      uint8
climatedivisionsid_204      uint8
climatedivisionsid_205      uint8
climatedivisionsid_206      uint8
climatedivisionsid_207      uint8
dtype: object

In [22]:
df['is_drought_area']=np.where(df['none']==0, 1,0)

df.head()

,mapdate,none,d0,d1,d2,d3,d4,region_east_central,region_north_central,region_northeast,...,region_southeast,region_southwest,climatedivisionsid_201,climatedivisionsid_202,climatedivisionsid_203,climatedivisionsid_204,climatedivisionsid_205,climatedivisionsid_206,climatedivisionsid_207,is_drought_area
validstart,,,,,,,,,,,,,,,,,,,,,
2021-12-14,20211214,0.0,2524.61,4778.24,825.21,0.00,0.0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
2021-12-14,20211214,0.0,6015.35,8582.52,0.00,0.00,0.0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2021-12-14,20211214,0.0,3506.42,5686.56,754.34,85.16,0.0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
2021-12-14,20211214,0.0,7545.43,14232.63,1358.43,0.00,0.0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
2021-12-14,20211214,0.0,5175.82,12250.35,16518.12,5894.94,0.0,0,0,1,...,0,0,0,1,0,0,0,0,0,1

In [23]:
df.head()

,mapdate,none,d0,d1,d2,d3,d4,region_east_central,region_north_central,region_northeast,...,region_southeast,region_southwest,climatedivisionsid_201,climatedivisionsid_202,climatedivisionsid_203,climatedivisionsid_204,climatedivisionsid_205,climatedivisionsid_206,climatedivisionsid_207,is_drought_area
validstart,,,,,,,,,,,,,,,,,,,,,
2021-12-14,20211214,0.0,2524.61,4778.24,825.21,0.00,0.0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
2021-12-14,20211214,0.0,6015.35,8582.52,0.00,0.00,0.0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2021-12-14,20211214,0.0,3506.42,5686.56,754.34,85.16,0.0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
2021-12-14,20211214,0.0,7545.43,14232.63,1358.43,0.00,0.0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
2021-12-14,20211214,0.0,5175.82,12250.35,16518.12,5894.94,0.0,0,0,1,...,0,0,0,1,0,0,0,0,0,1

In [24]:
df.drop(columns='mapdate',inplace=True)

In [35]:
df.head()

,none,d0,d1,d2,d3,d4,region_east_central,region_north_central,region_northeast,region_northwest,...,region_southeast,region_southwest,climatedivisionsid_201,climatedivisionsid_202,climatedivisionsid_203,climatedivisionsid_204,climatedivisionsid_205,climatedivisionsid_206,climatedivisionsid_207,is_drought_area
validstart,,,,,,,,,,,,,,,,,,,,,
2021-12-14,0.0,2524.61,4778.24,825.21,0.00,0.0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
2021-12-14,0.0,6015.35,8582.52,0.00,0.00,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2021-12-14,0.0,3506.42,5686.56,754.34,85.16,0.0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
2021-12-14,0.0,7545.43,14232.63,1358.43,0.00,0.0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
2021-12-14,0.0,5175.82,12250.35,16518.12,5894.94,0.0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1

In [34]:
df.corr()[['is_drought_area']].sort_values(by='is_drought_area', ascending=False)

                        is_drought_area
is_drought_area                1.000000
d2                             0.341046
d3                             0.331990
d4                             0.150681
d1                             0.138683
region_east_central            0.076571
climatedivisionsid_204         0.076571
climatedivisionsid_203         0.034992
region_north_central           0.034992
climatedivisionsid_205         0.007020
region_southwest               0.007020
region_northwest              -0.009612
climatedivisionsid_201        -0.009612
climatedivisionsid_206        -0.020196
region_south_central          -0.020196
region_southeast              -0.033804
climatedivisionsid_207        -0.033804
climatedivisionsid_202        -0.054971
region_northeast              -0.054971
d0                            -0.289940
none                          -0.614622

In [26]:
df.to_csv('./temperature and precipitation/cleaned_arizona.csv')

### Modeling

In [27]:
df['is_drought_area'].value_counts(normalize=True)

1    0.582387
0    0.417613
Name: is_drought_area, dtype: float64

In [28]:
X=df.drop(columns='is_drought_area')
y=df['is_drought_area']

X_train, X_test, y_train, y_test=train_test_split(X,y, stratify=y, random_state=42)


pipe_1=Pipeline([
    ('ss', StandardScaler()),
    ('logreg', LogisticRegression(solver='liblinear'))
])


pipe_1.fit(X_train,y_train)

Pipeline(steps=[('ss', StandardScaler()),
                ('logreg', LogisticRegression(solver='liblinear'))])

In [29]:
pipe_1.score(X_train,y_train), pipe_1.score(X_test,y_test)

(0.947981906750174, 0.9499217527386542)

In [30]:
pipe_2=Pipeline([
    ('ss', StandardScaler()),
    ('rf', RandomForestClassifier())
])

pipe_2.fit(X_train,y_train)

Pipeline(steps=[('ss', StandardScaler()), ('rf', RandomForestClassifier())])

In [31]:
pipe_2.score(X_train, y_train), pipe_2.score(X_test,y_test)

(1.0, 1.0)